<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name="dev.silksong.launcher.SilksongApp"
        android:appCategory="game"
        tools:replace="android:name">
        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />

        <activity
            android:name="dev.silksong.launcher.LauncherActivity"
            android:exported="true"
            android:label="@string/launcher_app_name"
            android:process=":launcher"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.silksong.launcher.LoginActivity"
            android:exported="false"
            android:label="@string/login_title"
            android:process=":launcher"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <activity
            android:name="dev.silksong.launcher.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:process=":launcher"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

        <service
            android:name="dev.silksong.launcher.MonoService"
            android:exported="false"
            android:process=":builder" />
        <service
            android:name="dev.silksong.launcher.AchievementService"
            android:exported="false"
            android:process=":launcher"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Steam achievement synchronization" />
        </service>
        <service
            android:name="dev.silksong.launcher.MonoServiceAlt"
            android:exported="false"
            android:process=":builder2" />
    </application>

</manifest>
